{% extends 'base.html' %}

{% block content %}

<h1>Assignment 3 PBP/PBD</h1>

<h3>Name: </h3>
<p>{{nama}}</p>

<h3>Class: </h3>
<p>{{kelas}}</p>

<h3>Student ID: </h3>
<p>{{student_id}}</p>

<h2>{{watched_status}}</h2>

<table cellspacing = "20">
  <tr>
    <th align="justify">Watched</th>
    <th align="justify">Title</th>
    <th align="justify">Rating</th>
    <th align="justify">Release Date</th>
    <th align="justify">Review</th>
  </tr>
  {% comment %} Add the data below this line {% endcomment %}
  {% for item in data_mywatchlist %}
      <tr>
          {% if item.watched %}
            <td>Sudah</td>
          {% else %}
            <td>Belum</td>
          {% endif %}
          <td>{{item.title}}</td>
          <td>{{item.rating}}</td>
          <td>{{item.release_date}}</td>
          <td>{{item.review}}</td>
      </tr>
  {% endfor %}
</table>

 {% endblock content %}
